server:
  port: 8080

spring:
  application:
    name: payment-service-app

  datasource:
    url: jdbc:postgresql://postgres:5432/payment-db
    username: admin
    password: secret

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8085/realms/pet-lms

# Actuator конфигурация
management:
  endpoints:
    web:
      exposure:
        include: health,info,liquibase,beans,metrics,env,loggers

logging:
  level:
    root: DEBUG
    org.springframework.boot.autoconfigure.liquibase: INFO
    liquibase: INFO
    org.liquibase: INFO
    org.springframework.jdbc.core: DEBUG
    org.springframework.security: INFO
    org.springframework.security.oauth2: INFO
    org.springframework.web: INFO
    org.springframework.data: INFO
    org.springframework.boot.autoconfigure: DEBUG
