server:
  port: 8080

spring:
  application:
    name: payment-service-app

  datasource:
    url: jdbc:postgresql://localhost:5432/payment-db
    username: admin
    password: secret

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

logging:
  level:
    root: INFO
    org.springframework.boot.autoconfigure.liquibase: TRACE
    liquibase: TRACE
    org.liquibase: TRACE
    org.springframework.jdbc.core: DEBUG
