server:
  port: 8080

spring:
  application:
    name: payment-service-app

  datasource:
    url: jdbc:postgresql://postgres:5432/payment-db
    username: admin
    password: secret

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8085/realms/pet-lms

logging:
  level:
    root: INFO
    org.springframework.boot.autoconfigure.liquibase: TRACE
    liquibase: TRACE
    org.liquibase: TRACE
    org.springframework.jdbc.core: DEBUG
    org.springframework.security: TRACE
    org.springframework.security.oauth2: TRACE
    org.springframework.web: DEBUG
    org.springframework.boot.autoconfigure: DEBUG
